<aside ng-if="product" class="sidebar-rating">
    <div class="summary">
        <div class="star-rating" aria-hidden="true">
            <ul>
                <li data-ng-repeat="i in [5,4,3,2,1]">
                <i data-ng-show="product.reviewSummary.averageRating >= i" class="filled"></i>
                <i data-ng-show="product.reviewSummary.averageRating > i-1 && product.reviewSummary.averageRating < i"class="half"></i>
                <i data-ng-show="product.reviewSummary.averageRating <= i-1" class=""></i>
                </li>
            </ul>
        </div>
        <div class="average">
            <span>{{ product.reviewSummary.averageRating | number: 1 }}</span>
            {{ 'of' | translate }}
            <span>{{ product.reviewSummary.totalReviews }}</span>
            {{ 'Reviews' | translate }}
        </div>
    </div>

    <div class="distribution">
        <ul class="progress-bars">
            <li data-ng-repeat="(value,frequency) in product.reviewSummary.ratingFrequencyDistribution">
                <div class="star-order">
                    {{value}}
                    <i class="fa fa-star"></i>
                </div>
                <div class="star-progress">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{frequency}}" aria-valuemin="0" aria-valuemax="{{product.reviewSummary.totalReviews}}" style="width:{{ frequency/product.reviewSummary.totalReviews * 100 | number:0}}%">
                        </div>
                    </div>
                </div>
                <div class="star-count">
                    ({{ frequency }})
                </div>
            </li>
        </ul>
    </div>
</aside>
<div ng-if="ajaxError">
    <p>There was an error loading the information.</p>
</div>
