<aside ng-if="product" class="no-gutter sidebar-rating">
    <h4>{{'Distribution' | translate }}</h4>

    <ul class="col-md-8 no-gutter progress-bars">
        <li data-ng-repeat="(value,frequency) in product.reviewSummary.ratingFrequencyDistribution">
            <p class="star-order">
                {{value}}
            </p>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{frequency}}" aria-valuemin="0" aria-valuemax="{{product.reviewSummary.totalReviews}}" style="width:{{ frequency/product.reviewSummary.totalReviews * 100 | number:0}}%">
                </div>
            </div>
        </li>
    </ul>
</aside>
<div ng-if="ajaxError">
    <p>There was an error loading the information.</p>
</div>
