<div class="youzz-widgets">
    <div data-ng-if="featureEnabled('product')" data-reviews-product data-client-id="{{ clientId }}" data-product-id="{{ productId }}"></div>
    <div data-ng-if="featureEnabled('list') && featureEnabled('distribution')">
        <div class="row">
            <div class="col-md-4">
                <div data-reviews-distribution data-client-id="{{ clientId }}" data-product-id="{{ productId }}"></div>
            </div>
            <div class="col-md-8">
                <div data-reviews-list data-client-id="{{ clientId }}" data-product-id="{{ productId }}">
            </div>
        </div>
    </div>

    <!-- list xor distribution -->
    <div data-ng-if="featureEnabled('list') != featureEnabled('distribution')">
        <div data-ng-if="featureEnabled('list')" data-reviews-list data-client-id="{{ clientId }}" data-product-id="{{ productId }}">
        <div data-ng-if="featureEnabled('distribution')" data-reviews-distribution data-client-id="{{ clientId }}" data-product-id="{{ productId }}"></div>
    </div>
</div>
