<div data-ng-show="list.loading" class="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">{{ 'Loading' | translate }}...</span>
</div>
<div ng-show="ajaxError" class="alert alert-danger">
    <p>{{ 'There was an error loading the information.' | translate }}</p>
</div>

<section data-ng-if="reviews" class="product-reviews" id="reviews-product-{{ productId }}">
    <div class="review-filters hidden-xs">
        <div class="filters">
            <select class="form-control" data-ng-model="list.sortField">
                <option value="DateCreated">{{ 'Date' | translate }}</option>
                <option value="Value">{{ 'Rating' | translate }}</option>
            </select>
        </div>
    </div>

    <div class="review-list">
        <article data-ng-cloak class="review" data-ng-repeat="review in reviews">
            <div class="review-image">
                <div lazy-img="{{ review.reviewer.avatar }}"></div>
            </div>

            <div class="review-content">
                <h5 class="review-title">
                    {{ review.title }}
                    <span data-uib-rating data-state-on="'fa fa-star'" data-state-off="'fa fa-star-o'" data-max="5" data-ng-model="review.value" data-read-only="true"></span>
                </h5>

                <p class="review-text">{{review.text}}</p>

                <ul class="review-meta">
                    <li> <i class="fa fa-archive" aria-hidden="true"></i>{{ review.product.name }}</li>
                    <li data-ng-show="review.reviewer"><i class="fa fa-male" aria-hidden="true"></i>{{review.reviewer.firstName}} {{review.reviewer.lastName}}</li>
                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{review.dateCreated | date: 'dd-MM-yyyy'}}</li>
                </ul>
            </div>
        </article>
    </div>
    <div>
        <ul 
            data-uib-pagination
            data-boundary-link-numbers="true"
            data-max-size="list.maxSize"
            data-ng-show="reviews.pagination.totalRecords > list.pageSize" 
            data-total-items="reviews.pagination.totalRecords"
            data-items-per-page="list.pageSize"
            data-first-text="'<<'"
            data-last-text="'>>'"
            data-ng-model="list.currentPage"></ul>
    </div>
</section>
