<section class="product-reviews">
    <div class="col-md-12">
        <div class="col-md-5 col-xs-8">
            <h4>{{ 'Product Reviews' | translate }}</h4>
        </div>
        <div class="col-md-2 col-xs-4 pull-right">
            <select class="form-control" data-ng-model="sortField">
                <option value="DateCreated">{{ 'Date' | translate }}</option>
                <option value="Value">{{ 'Rating' | translate }}</option>
            </select>
        </div>
    </div>
    <div data-ng-show="loading" class="text-center">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
    <article data-ng-cloak class="row review table" data-ng-repeat="review in reviews">
        <div class="review-image col-md-1 col-xs-12 table-col">
            <img class="img-circle" data-ng-src="{{review.reviewer.avatar}}" alt="{{review.reviewer.firstName}} {{review.reviewer.lastName}}">
        </div>
        <div class="col-md-10 table-col pull-right">
            <p class="review-title">{{review.title}}
                <span data-uib-rating data-state-on="'fa fa-star'" data-state-off="'fa fa-star-o'" data-max="5" data-ng-model="review.value" data-read-only="true"></span>
            </p>
            <p class="review-text">{{review.text}}</p>

            <ul class="review-meta col-md-12">
                <li> <i class="fa fa-archive" aria-hidden="true"></i>{{ $product.name }}</li>
                <li data-ng-show="review.reviewer"><i class="fa fa-male" aria-hidden="true"></i>{{review.reviewer.firstName}} {{review.reviewer.lastName}}</li>
                <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{review.dateCreated | date: 'dd-MM-yyyy'}}</li>
            </ul>
        </div>
    </article>
    <div>
        <ul class="ng-hide" data-ng-show="reviews && totalItems > pageSize" data-uib-pagination data-total-items="totalItems" data-items-per-page="pageSize" data-ng-model="currentPage"></ul>
    </div>
</section>
