<div class="youzz-widgets">
    <div data-ng-if="featureEnabled('product')" data-reviews-summary data-product-id="{{ productId }}"></div>
    <div data-ng-if="featureEnabled('reviews') && featureEnabled('sidebar')">
        <div class="row">
            <div class="col-md-4">
                <div data-reviews-distribution data-product-id="{{ productId }}"></div>
            </div>
            <div class="col-md-8">
                <div data-reviews-list data-product-id="{{ productId }}">
            </div>
        </div>
    </div>
    <div data-ng-if="featureEnabled('reviews') ^ featureEnabled('sidebar')">
        <div data-ng-if="featureEnabled('reviews')" data-reviews-list data-product-id="{{ productId }}">
        <div data-ng-if="featureEnabled('sidebar')" data-reviews-distribution data-product-id="{{ productId }}"></div>
    </div>
</div>
