/* Single Review
--------------------------------------------------------------- */
.product-reviews {
    .review-filters {
        @include make-row();

        .filters {
            @include make-md-column(3);
            @include make-md-column-offset(9);
            text-align: right;
            margin-bottom: 20px;
        }
    }

    .review {
        @include make-row();
        border-bottom: 1px solid darken($grey, 10%);
        padding: 40px 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        .review-image {
            @include make-md-column(2);
            @include make-xs-column(12);

            &> div {
                background-size: cover;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .review-content {
            @include make-md-column(9);
            @include make-md-column-offset(1);
            @include make-xs-column(12);
        }

        .review-text {
            font-size: 14px;
            line-height: 32px;
            margin-bottom: 20px;
        }

        .review-title {
            font-weight: 700;

            span {
                color: $youzzYellow;
                display: inline-block;
                font-size: 14px;
            }
        }

        .review-meta {
            text-transform: uppercase;
            padding-left: 0;

            li {
                display: block;
                list-style: none;
                margin-right: 10px;
                font-size: 10px;
                color: $grey;
                line-height: 32px;
                @media(min-width: $screen-md-min) {
                    display: inline-block;
                }

                i {
                    padding-right: 5px;
                }

                &:nth-child(1) {
                    color: $youzzPink;
                }

                &:nth-child(2) {
                    color: $youzzGreen;
                }

                &:nth-child(3) {
                    color: $youzzBlue;
                }
            }
        }
    }
}

/* Aside
--------------------------------------------------------------- */
aside {
    margin-bottom: 40px;
    padding: 0;

    .average {
        font-size: 18px;
        margin-bottom: 20px;

        span {
            font-weight: 700;
        }
    }
}

/* Star rating
--------------------------------------------------------------- */
.star-rating {
    font-size: 32px;

    ul {
        list-style-type: none;
        padding: 0;

        > li {
            display: inline-block;
            padding: 0;
        }
    }

    i.filled:before {
        @include fa-icon;
        content: $fa-var-star;
        color: $youzzYellow;
    }

    i.half:before {
        @include fa-icon;
        content: $fa-var-star-half-o;
        color: $youzzYellow;
    }

    i:before {
        @include fa-icon;
        content: $fa-var-star-o;
        color: $youzzYellow;
    }
}

/* Progress Bars
--------------------------------------------------------------- */
ul.progress-bars {
    list-style-type: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        line-height: 30px;

        .star-order {
            width: 30px;

            .fa-star {
                color: $youzzYellow;
            }
        }

        .star-progress {
            width: calc(100% - 60px);

            .progress {
                margin-bottom: 0;
                margin-left: 0;
                border-radius: 20px;
                height: 10px;
            }

            .progress-bar {
                border-radius: 20px;
                height: 10px;
                font-size: 12px;
                line-height: 20px;
                color: #fff;
                box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
                transition: width .6s ease;
            }

            .progress-bar-warning {
                background-color: $youzzYellow;
            }
        }

        .star-count {
            font-size: 85%;
            margin-left: 10px;
            width: 20px;
        }
    }
}

/* Product Spotlight
--------------------------------------------------------------- */
.product-spotlight {
    font-family: $bodyFont;
    background: darken($grey, 2%);
    margin-bottom: 60px;
    padding: 60px 0;
    @include make-row();

    .product-image {
        @include make-xs-column(12);
        @include make-md-column(4);

        img {
            max-width: 90%;
            background: $white;
            padding: 5px;
            float: left;
            @media(min-width: $screen-md-min) {
                width: 80%;
            }
        }
    }

    .product-description {
        @include make-xs-column(6);
        @include make-md-column(8);

        h2 {
            font-size: 32px;
            font-weight: bold;
            line-height: 32px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }


    .summary {
        font-size: 18px;

        span {
            font-weight: bold;
        }
    }
}

.review {
  margin: 0px!important;

    h1 {
        font-size: $font-size-base;
        font-weight: 900;
    }
}
