
/* Headings
--------------------------------------------------------------- */

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans";
$font-family-serif:       "Source Sans Pro", sans-serif;

$bodyFont    : $font-family-sans-serif;
$headingFont : $font-family-serif;

// Colours
// -------------------------


$youzzPink     : #ec1d52;
$youzzGreen    : #29af4c;
$youzzYellow   : #f8a62b;
$youzzBlue     : #23abe2;

$blueDark      : #0d2635;
$white 		   : #FFF; 
$black 		   : #000; 
$grey 		   : #F9F9F9; 

$brand-success:         #29af4c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         $youzzYellow !default;

$modal-backdrop-opacity: 0.7;
$campaign-nav-bg-color: $grey;
$reviews-product-bg-color: #F2F2F2;
