// Typography
$font-family-sans-serif:  'Open Sans';
$font-family-serif:       'Source Sans Pro', sans-serif;
$body-font: $font-family-sans-serif;
$heading-font: $font-family-serif;

// Colors
$youzz-pink: #ec1d52;
$youzz-green: #29af4c;
$youzz-yellow: #f8a62b;
$youzz-blue: #23abe2;

$blue-dark: #0d2635;
$white: #fff;
$black: #000;
$grey: #f9f9f9;
$transparent-black: rgba(0, 0, 0, .15);

$brand-success:         #29af4c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         $youzz-yellow !default;

$modal-backdrop-opacity: .7;
$campaign-nav-bg-color: $grey;
$reviews-product-bg-color: #f2f2f2;
