.youzz-widgets {
    @import "components";
    @import "variables";
    @import "reset";
    @import "typography";
    @import "reviews";

    font-family: "Open Sans";

    .fa {
        font-family: "FontAwesome";
    }

    .loading {
        text-align: center;
    }
}
